<div class="container">
    <app-message-modal *ngIf="displayMessageModal" [messageModal]="messageModal"></app-message-modal>
    <div class="panel panel-default">
    <div class="panel-heading">Nouveau Candidat</div>
    <div *ngIf="mode == 1" class="panel-body">
        <form [formGroup]="candidateForm" (ngSubmit)="onSaveCandidate()">
            <div class="form-group">
                <label for="firstName" class="control-label">Prénom</label>
                <input class="form-control is-invalid" type="text" id="firstName" formControlName="firstName">
                <control-messages [control]="candidateForm.controls['firstName']"></control-messages>
            </div>

            <div class="form-group">
                <label for="lastName" class="control-label">Nom</label>
                <input class="form-control" type="text" id="lastName" formControlName="lastName">
                <control-messages [control]="candidateForm.controls['lastName']"></control-messages>
            </div>

            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input class="form-control" type="text" id="email" formControlName="email">
                <control-messages [control]="candidateForm.controls['email']"></control-messages>
            </div>

            <div class="form-group">
                <label for="birthDate" class="control-label">Date de naissance</label>
                <input class="form-control" type="date" id="birthDate" formControlName="birthDate">
            </div>

            <div *ngIf="talentAdvocates" class="form-group">
                <label for="talentAdvocate" class="control-label">Talent Advocate</label>
                <select formControlName="talentAdvocate">
                    <option [ngValue]="talentAdvocate" *ngFor="let talentAdvocate of talentAdvocates">{{talentAdvocate.firstName}}</option>
                </select>
            </div>
            
            
            <button class="btn btn-success" type="submit" [disabled]="candidateForm.invalid">Enregistrer</button>
</form>

    </div>
    <div *ngIf="mode == 2" class="panel-body">
            <div class="form-group">
                <label>ID: </label>
                <label>{{currentCandidate.idCandidate}}</label>
            </div>
            <div class="form-group">
                <label>Prénom: </label>
                <label>{{currentCandidate.firstName}}</label>
            </div>
            <div class="form-group">
                <label>Nom: </label>
                <label>{{currentCandidate.lastName}}</label>
            </div>
            <div class="form-group">
                <label>Email: </label>
                <label>{{currentCandidate.email}}</label>
            </div>
            <div class="form-group">
                <label>Date de naissance: </label>
                <label>{{currentCandidate.birthDate | date:'dd/MM/yyyy' }}</label>
            </div>
            <p>
                <button class="btn btn-primary" (click)="onBackToAddCandidate()">Retour</button>
            </p>
    </div>

</div>
</div>

<div class="container row">
    <div class="col-md-12">
        <h1>Upload Image</h1>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">

    </div>
    <div class="col-md-6">
        <input type="button" (click)="onUpload()" value="upload">
    </div>
</div>
<hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

    </div>
</div>

<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
</div>