<div class="container">
    <div class="panel panel-heading">Liste des candidats</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSearchCandidates(f.value)">
        <label>Rechercher: </label>
        <input type="text" name="keyWord" ngModel>
        <button class="btn btn-primary" type="submit">
          <span class="gliphicon gliphicon-search"></span>
          Rechercher
        </button>
      </form>
      <table *ngIf="candidates" class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date naissance</th>
        </tr>
        <tr *ngFor="let candidate of candidates._embedded.candidates">
          <td>{{ candidate.idCandidate }}</td>
          <td>{{ candidate.firstName }}</td>
          <td>{{ candidate.lastName }}</td>
          <td>{{ candidate.birthday | date:'dd/MM/yyyy' }}</td>
          <td><a class="btn btn-danger" (click)="onDeleteCandidate(candidate)">Delete</a></td>
        </tr>
      </table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li class='clickable' [ngClass]="i==currentPage ? 'active' : '' " *ngFor="let p of pages; let i=index"><a
          (click)="onPageCandidate(i)">{{ i }}</a></li>
      </ul>
    </div>
</div>
